* {
  /* border: 1px solid red; */
}

.App {
  text-align: center;
  background-color: #282c34;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.app-container {
  display: flex;
  background-color: #282c34;
}

.left-column {
  flex: 1;
  padding-right: 20px;
  padding-left: 20px;
}

.right-column {
  flex: 2;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.components {
  border: 5px solid black;
  
   border-radius: 25px;
   box-shadow: blue 2px 2px;
   padding: 10px;
   color: antiquewhite;
   margins: 20px;
}